@import 'base.css';

#app {
  font-weight: normal;
  padding: 0 2px;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.card {
  width: 100%;
  min-width: 280px;
  height: max-content;
  min-height: 120px;
  margin: 3px 0;
}

.link {
  transform: translateY(-3px);
}

.bold {
  font-weight: bold;
}

.el-menu {
  border-radius: 0 0 2px 2px;
}

.el-header {
  --el-header-padding: 0 2px;
}

.el-main {
  --el-main-padding: 2px;
}

.save-button {
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

@keyframes fadeInAnimation {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
