<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>配置文件生成器</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="accounts-block" class="block">
            <h2>账号部分 <button id="add-accounts" class="btn btn-sm btn-primary add-btn" data-toggle="modal" data-target="#accountsModal">+</button></h2>
            <div id="accounts"></div>
        </div>
        <div id="ai-platforms-block" class="block">
            <h2>AI 平台 <button id="add-ai-platforms" class="btn btn-sm btn-primary add-btn" data-toggle="modal" data-target="#aiPlatformsModal">+</button></h2>
            <div id="ai-platforms"></div>
        </div>
        <div id="misc-settings-block" class="block">
            <h2>杂项设置 <button id="add-misc-settings" class="btn btn-sm btn-primary add-btn" data-toggle="modal" data-target="#miscSettingsModal">+</button></h2>
            <div id="misc-settings"></div>
        </div>
        <button id="save_button" class="btn btn-primary btn-lg btn-block">保存设置</button>
        <div id="download_link"></div>
    </div>
    <!-- 机器人设置 -->
    <div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="accountsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountsModalLabel">添加账号配置</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <!-- 机器人平台 -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="accounts-option" id="mirai" value="mirai">
                        <label class="form-check-label" for="mirai">Mirai</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="accounts-option" id="telegram" value="telegram">
                        <label class="form-check-label" for="telegram">Telegram</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="accounts-option" id="discord" value="discord">
                        <label class="form-check-label" for="discord">Discord</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="accounts-option" id="onebot" value="onebot">
                        <label class="form-check-label" for="onebot">OneBot</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="accounts-confirm">确定</button>
                </div>
                <!-- 机器人平台 -->
            </div>
        </div>
    </div>
    
    <!-- AI设置 -->
    <div class="modal fade" id="aiPlatformsModal" tabindex="-1" role="dialog" aria-labelledby="aiPlatformsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aiPlatformsModalLabel">添加 AI 平台配置</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <!-- AI平台搁这添加 -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ai-platforms-option" id="openai" value="openai">
                        <label class="form-check-label" for="openai">OpenAI</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ai-platforms-option" id="bing" value="bing">
                        <label class="form-check-label" for="bing">Bing</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ai-platforms-option" id="bard" value="bard">
                        <label class="form-check-label" for="bard">Bard</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ai-platforms-option" id="chatglm" value="chatglm">
                        <label class="form-check-label" for="chatglm">chatglm</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ai-platforms-option" id="yiyan" value="yiyan">
                        <label class="form-check-label" for="yiyan">文心一言</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ai-platforms-option" id="poe" value="poe">
                        <label class="form-check-label" for="poe">poe</label>
                    </div>
                <!-- 添加更多AI -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="ai-platforms-confirm">确定</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 杂项设置 -->
    <div class="modal fade" id="miscSettingsModal" tabindex="-1" role="dialog" aria-labelledby="miscSettingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miscSettingsModalLabel">添加杂项配置</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <!-- 在这里添加杂项设置 -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="misc-settings-option" id="text_to_image" value="text_to_image">
                        <label class="form-check-label" for="text_to_image">Text to Image</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="misc-settings-option" id="text_to_speech" value="text_to_speech">
                        <label class="form-check-label" for="text_to_speech">Text to speech</label>
                    </div>
                <!-- 添加更多杂项设置 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="misc-settings-confirm">确定</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>